<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened 
        fixedInViewport="true">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    login
                </i>
                Login
            </a>
            <a mat-list-item routerLink="/home">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item  routerLink="/restaurant">
                <i class="material-icons">
                    storefront
                </i>
                Restaurantes
            </a>
            <a mat-list-item  routerLink="/usuarios">
                <i class="material-icons">
                    people
                </i>
                Usuários
            </a>
            <a mat-list-item  routerLink="/semanas">
                <i class="material-icons">
                    date_range
                </i>
                Semanas
            </a>
            <a mat-list-item  routerLink="/votacao">
                <i class="material-icons">
                    analytics
                </i>
                Votação
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
