<mat-sidenav-container>
  <mat-sidenav class="sidenav" mode="side" *ngIf="isLoggedIn();" opened fixedInViewport="true" >
    <mat-nav-list class="nav-list">
        <a mat-list-item (click)="logout()" routerLink="/">
            <i class="material-icons">
                login
            </i>
            Logout
        </a>
        <a mat-list-item routerLink="/home">
            <i class="material-icons">
                home
            </i>
            Início
        </a>
        <a mat-list-item  routerLink="/restaurant">
            <i class="material-icons">
                storefront
            </i>
            Restaurantes
        </a>
        <!-- Para Melhoria -->
        <!-- <a mat-list-item  routerLink="/usuarios">
            <i class="material-icons">
                people
            </i>
            Usuários
        </a> -->
        <a mat-list-item  routerLink="/semanas">
            <i class="material-icons">
                date_range
            </i>
            Semanas
        </a>
        <a mat-list-item routerLink="/votacao">
            <i class="material-icons">
                analytics
            </i>
            Votação
        </a>
        <a mat-list-item routerLink="/resultado">
          <i class="material-icons">
            emoji_events
          </i>
          Resultado
        </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
